{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Tests list</title>
{% endblock %}

{% block header%}
<h3>Tests list</h3>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>image</th>
                <th>topic</th>
                <th>title</th>
                <th>description</th>
                <th>level</th>
            </tr>
        {% for test in tests %}
            <tr>
                <td><img class="rounded-circle p-1 m-1" width="80" height="80" src="{{ test.image.url }}"></td>
                <td>{{ test.topic }}</td>
                <td>{{ test.title }}</td>
                <td>{{ test.description }}</td>
                <td>{{ test.level }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
