#dev, prod
RUN_MODE=prod

#django
PORT=8000
SECRET_KEY=xxxx
ALLOWED_HOSTS=xxxx

#postgresql
DB_USER=testify_admin
DB_PASSWORD=xxxx
DB_HOST=postgresql
DB_NAME=testify
DB_PORT=5432

#gununicorn
WORKERS=4
