{% extends 'base.html' %}

{% block header %}
    <h3>Navigation</h3>
{% endblock %}


{% block content %}

<!--    <form>-->
<!--        <input formaction="{% url 'accounts:leaderboard' %}" type="submit" class="btn btn-info" value="Leaderboard">-->
<!--    </form><br>-->

    <form>
        <input formaction="{% url 'tests:list' %}" type="submit" class="btn btn-primary btn-lg btn-block" value="Tests">
    </form><br>

    <form>
        <input formaction="{% url 'tests:results' %}" type="submit" class="btn btn-secondary btn-lg btn-block" value="My results">
    </form><br>

<!--    <form>-->
<!--        <input formaction="{% url 'accounts:users' %}" type="submit" class="btn btn-info" value="Users">-->
<!--    </form>-->

{% endblock %}
