{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
        <title>Курсы</title>
{% endblock %}

{% block header%}
        <h3>Курсы</h3>
{% endblock %}


{% block content %}
<div class="container" style="text-align: center; border: 3px solid #808080;">
        <h2><strong>General English ( от Beginner до Advanced)</strong></h2>
            <h4><br><strong>Для кого курс:</strong><br><br>
                        Если тебе нужен английский для общения с иностранцами, путешествий, работы, жизни заграницей.
                        .
                <br><br><strong>Сколько длиться?</strong><br><br>
                        Все зависит от интенсивности занятий.
                        Если заниматься по 2 часа в неделю, то один уровень можно пройти в течении 3-4 месяцев.
                        .
                <br><br><strong>Какие учебники используем</strong><br><br>
                        New Total English, R.Murphy "English grammar in use", Grammar way, Speak out +авторские материалы,worksheets по фильмам, музыке, читаем книги в оригинале.
                <br><br><strong>СТОИМОСТЬ</strong><br><br>
                        1 час занятия 250 грн, при оплате абонемента на 10 занятий -230грн/час
                        Занятие в группе 3 человека -150 грн.</h4>
</div><br><br>


<div class="container" style="text-align: center; border: 3px solid #808080;">
        <h2><strong>Business English</strong></h2>
            <h4><br><strong>Для кого курс:</strong><br><br>
                        Если тебе нужен английский для работы, поездок, конференций, делового общения.
                        .
                <br><strong>Уровень</strong><br><br>
                        От pre-intermediate до Advanced
                        На курсе Business English мы проходим основные грамматические и лексические темы по уровням +учим лексику делового английского.
                <br><br><strong>Сколько длиться?</strong><br><br>
                        Все зависит от интенсивности занятий.
                        Если заниматься по 2 часа в неделю, то один уровень можно пройти в течении 3-4 месяцев.
                        .
                <br><br><strong>Какие учебники используем</strong><br><br>
                        Business English, Intelligence Business,  R.Murphy,  newspapers "The Economist", " Forbes", "National geographic ".
                <br><br><strong>СТОИМОСТЬ</strong><br><br>
                        1 час занятия 250 грн, при оплате абонемента на 10 занятий -230 грн/час.
                        Занятие в группе 3 человека -150 грн/час</h4>
</div><br><br>


<div class="container" style="text-align: center; border: 3px solid #808080;">
        <h2><strong>Подготовка к экзаменам</strong></h2>
        <h4><br>Я подготавливаю учеников к
                1.ЗНО -проходим все материалы уровня B1, B2+ делаем тесты, проходим интерактивные задания на платформе Quizlet/Booyya.
                2.ДПА - проходим материалы уровня A2,B1 + делаем тесты.</h4>
</div><br><br>

<div class="container" style="text-align: center; border: 3px solid #808080;">
        <h2><strong>Speaking club</strong></h2><br>
        <h4>Если вы хотите улучшить навыки общения, тогда разговорный курс для вас .
                Возможны занятия как индивидуально, так и в группе.
                Мы будем разбирать различные видео, аудио материалы и учить необходимую лексику для ежедневного общения.</h4>
</div><br><br>


<div class="container" style="text-align: center; border: 3px solid #808080;">
        <h2><strong>English for IT</strong></h2><br>
        <h4>Ускоренный курс занятий для программистов
                Мы пройдем необходимые грамматические темы, а именно Present Tenses, Past Tenses, Future tenses, Passive and Active voice, Modals, Conditionals, Imperatives и также рассмотрим технические термины и научимся вести деловую переписку.</h4><br>
</div>

{% endblock %}
