{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Delete client</title>
{% endblock %}

{% block header%}
    <h3>Delete client</h3>
{% endblock %}

{% block content %}
    <div class="alert alert-warning mt-4" style="text-align: center">
    <h1>Удаление данных клиента</h1><br>
        <form method="post">{% csrf_token %}
            <h3>Удалить {{ client.firstname }} {{ client.lastname }}?</h3><br>
            <button class="btn btn-warning">Удалить данные</button><br>
        </form><br>
        <form action="{% url 'main:clients' %}">
            <button class="btn btn-primary">Вернуться назад</button>
        </form>
    </div>
{% endblock %}