{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Редактировать</title>
{% endblock %}

{% block header%}
    <h3>Edit client</h3>
{% endblock %}

{% block content %}
    <div class="alert alert-warning mt-4">
    <h1>Редактировать данные клиента</h1>
        <form method="post">{% csrf_token %}
            <div class="alert alert-warning mt-4">
                {{ form|crispy }}<br>
                <br>
                <button type="submit" class="btn btn-success">Изменить данные</button><br>
                <br>
            </div>
        </form><br>
    <p><a href="{% url 'main:clients' %}">Вернуться назад</a></p>
    </div>
{% endblock %}